
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="submit"],
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type="submit"]:hover,
button:hover {
  background-color: #3e8e41;
}

.tabs {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.tabs form {
  flex: 1;
  margin-right: 20px;
}

.tabs form:last-child {
  margin-right: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border-radius: 20px;
}

.active {
  display: block;
}
#result-container{
  max-height: 300px;
  overflow: auto;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 9999;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  overflow: auto;
  max-height: 200px;
}

.dropdown-option {
  display: block;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-option:hover,
.dropdown-option:focus {
  background-color: #f4f4f4;
}

.dropdown-select:focus + .dropdown-options {
  display: block;
}

.dropdown-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.dropdown {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown option {
  font-size: 16px;
}
/* Стилі для loader */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#modal-message {
  font-size: 36px;
}
.close{
  text-align: right;
  margin: 0;
  font-size: 38px;
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

#result-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

#copy-button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

#copy-button:hover {
  background-color: #444;
}

.tabs {
  display: flex;
  margin-top: 50px;
}

.dropdown {
  width: 200px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

textarea {
  height: 100px;
}
#myForm{
  border-right: 2px #4CAF50;
}